@font-face {
    font-family: Nugelo;
    src: url(nugelo/Nugelo.ttf);
}

body {
    background-color: brown;
    font-family: Nugelo;
}

#back_btn {
    width: 35px;
    font-size: 18px;
    text-align: center;
    border-radius: 10px;
    padding: 8px 16px;
    border-color: black;
    background: white;
    cursor: pointer;
    display: block;
    margin-right: auto;
    margin-left: 15px;
}